{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}

<style>
    .material-symbols-outlined {
          font-size: 30px;
          position: relative;
          top: 5px;
          left: 0px;
    }
</style>

    <h2>Register here
        <span class="material-symbols-outlined"> person_check </span>
    </h2>
{% endblock page_header %}


{% block content %}

<div class="p-3 mb-4 bg-light border rounded-3">
     <div class="container-fluid py-4">
         <form action="{% url 'accounts:register' %}" method="post">
             {% csrf_token %}
             {% bootstrap_form form %}
             {% bootstrap_button button_type="submit" content="Register" button_class="custom-btn" %}
         </form>
     </div>
</div>

{% endblock content %}
